* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Roboto Mono", "Ubuntu Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 40, 40, 0.95);  /* gruvbox dark background */
    color: #ebdbb2;  /* gruvbox fg */
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #a89984;  /* gruvbox fg4 */
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #504945;  /* gruvbox bg2 */
    border-bottom: 3px solid #fabd2f;  /* gruvbox dark yellow */
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#language,
#custom-language,
#custom-notifications,
#tray {
    padding: 0 3px;
    margin: 0 5px;
}

#clock {
    color: #8ec07c;  /*#83a598 gruvbox blue */
}

#custom-notifications {
    color: #fabd2f;  /* gruvbox yellow */
    font-size: 16px;
}

#language {
    color: #fb4934;  /* gruvbox red */
}

#pulseaudio {
    color: #fe8019;  /*#fabd2f; gruvbox yellow */
}

#backlight {
    color: #fabd2f;  /*#689d6a gruvbox aqua */
}

#network {
    color: #b8bb26;  /*#b8bb26 gruvbox green */
}

#cpu {
    color: #8ec07c;  /*#d3869b gruvbox purple */
}

#memory {
    color: #83a598;  /*#fe8019 gruvbox orange */
}

#battery {
    color: #d3869b;  /*#b8bb26 gruvbox green */
}

#battery.charging {
    color: #d3869b;  /*#8ec07c gruvbox aqua */
}

#battery.warning:not(.charging) {
    color: #fb4934;  /* gruvbox red */
}

#tray {
    background-color: #3c3836;  /* gruvbox bg1 */
}