window {
    margin: 0px;
    border: 2px solid #fabd2f;  /* gruvbox dark yellow */
    border-radius: 15px;
    background-color: rgba(40, 40, 40, 0.95);  /* gruvbox bg0 with opacity */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    margin: 5px;
    padding: 5px;
    border: none;
    color: #ebdbb2;  /* gruvbox fg */
    background-color: #3c3836;  /* gruvbox bg1 */
    border-radius: 10px;
}

#inner-box {
    margin: 5px;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
    color: #ebdbb2;  /* gruvbox fg */
}

#entry:selected {
    background-color: #504945;  /* gruvbox bg2 */
    border-radius: 10px;
    border-bottom: 3px solid #fabd2f;  /* gruvbox dark yellow */
}

#text:selected {
    background: transparent;
    color: #fabd2f;  /* gruvbox yellow */
}